.join {
  background: url("../img/join/bg.jpg") 0 0 / cover no-repeat;

  &__body {
    @include fluid(padding-bottom, 74px, 20px, 320px, 1280px);
  }

  &__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
      url("../img/join/bg-banner.png") 0 bottom / contain no-repeat,
      linear-gradient(141deg, #ffadd4 0%, #ff6db3 51%, #d719a4 100%);

    @include fluid(padding-top, 40px, 20px, 320px, 1280px);
    @include fluid(padding-bottom, 40px, 20px, 320px, 1280px);
    @include fluid(padding-right, 30px, 10px, 320px, 1280px);
    @include fluid(padding-left, 30px, 10px, 320px, 1280px);
    @include fluid(border-radius, 30px, 15px, 320px, 1280px);
  }

  &__title {
    color: #fff;
    text-shadow:
      4px 4px 0 #ff2f92,
      6px 6px 0 #fff;

    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ff63ad;

    @include fluid(font-size, 86px, 25px, 320px, 1280px);
    @include fluid(line-height, 107px, 30px, 320px, 1280px);
    @include fluid(margin-bottom, 31px, 16px, 320px, 1280px);

    & span {
      &.r {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          transform: translate(-50%, -22%);
          background: url("../img/join/decor-1.png") 0 0 / contain no-repeat;

          @include fluid(width, 257px, 63px, 320px, 1280px);
          @include fluid(height, 226px, 59px, 320px, 1280px);
        }
      }

      &.o {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          transform: translate(-6%, -22%);
          background: url("../img/join/decor-2.png") 0 0 / contain no-repeat;

          @include fluid(width, 161px, 42px, 320px, 1280px);
          @include fluid(height, 181px, 38px, 320px, 1280px);
        }
      }

      &.r,
      &.d,
      &.y,
      &.t,
      &.o {
        transform: rotate(-4deg);
      }

      &.e,
      &.a {
        transform: rotate(3deg);
      }

      &.j,
      &.i,
      &.n {
        transform: rotate(1deg);
      }

      &.o-2 {
        transform: rotate(-6deg);
      }
    }
  }
  &__text {
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    max-width: 468px;

    @include fluid(font-size, 14px, 12px, 320px, 1280px);
    @include fluid(margin-bottom, 30px, 15px, 320px, 1280px);
  }
  &__button {
    border-radius: 100px;
    padding: 15px 40px;
    box-shadow: 4px 4px 0 0 #d7498d;
    background: #fff;
    font-weight: 500;
    text-align: center;
    color: #d7498d;

    @include fluid(gap, 10px, 5px, 320px, 1280px);
    @include fluid(padding-top, 15px, 10px, 320px, 1280px);
    @include fluid(padding-bottom, 15px, 10px, 320px, 1280px);
    @include fluid(padding-left, 40px, 25px, 320px, 1280px);
    @include fluid(padding-right, 40px, 25px, 320px, 1280px);
    @include fluid(font-size, 16px, 12px, 320px, 1280px);
    @include fluid(line-height, 24px, 20px, 320px, 1280px);

    @media (any-hover: hover) {
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        box-shadow: none;
      }
    }
  }
}
