.register {
  background: url("../img/about/bg.jpg") 0 0 / cover no-repeat;

  &__body {
    display: flex;
    justify-content: center;

    @include fluid(padding-top, 40px, 20px, 320px, 1280px);
    @include fluid(padding-bottom, 40px, 20px, 320px, 1280px);
  }

  &__form {
    background: #fff;
    display: flex;
    flex-direction: column;

    @include fluid(padding-top, 40px, 20px, 320px, 1280px);
    @include fluid(padding-bottom, 40px, 20px, 320px, 1280px);
    @include fluid(padding-left, 50px, 30px, 320px, 1280px);
    @include fluid(padding-right, 50px, 30px, 320px, 1280px);
    @include fluid(border-radius, 30px, 15px, 320px, 1280px);

    @media (max-width: 500px) {
      width: 100%;
    }
  }

  &__title {
    font-family: $fontBebasNeue;
    color: #c699b5;
    text-align: center;
    @include fluid(font-size, 65px, 28px, 320px, 1280px);
    @include fluid(line-height, 40px, 15px, 320px, 1280px);
    @include fluid(margin-bottom, 20px, 10px, 320px, 1280px);
  }

  &__field {
    border-radius: 15px;
    color: #ff2f92;
    border: 2px solid #fda5cf;

    @include fluid(font-size, 18px, 16px, 320px, 1280px);
    @include fluid(padding-top, 7.5px, 5px, 320px, 1280px);
    @include fluid(padding-bottom, 7.5px, 5px, 320px, 1280px);
    @include fluid(padding-left, 15px, 10px, 320px, 1280px);
    @include fluid(padding-right, 15px, 10px, 320px, 1280px);
    @include fluid(margin-bottom, 10px, 7px, 320px, 1280px);
  }
  &__submit {
    --color: #d7498d;
    --bg: #fda5cf;
    --shadow: #d7498d;
  }

  &__message {
    display: none;
    @include fluid(margin-top, 15px, 10px, 320px, 1280px);
    @include fluid(font-size, 18px, 16px, 320px, 1280px);

    &.active {
      display: block;
    }
  }

  &__error {
    color: #ff6060;
  }
  &__success {
    color: #7aff60;
  }
}
