.requirements {
  background: url("../img/requirements/bg.jpg") 0 0 / cover no-repeat;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include fluid(padding-top, 43px, 20px, 320px, 1280px);
    @include fluid(padding-bottom, 43px, 20px, 320px, 1280px);
  }
  &__title {
    font-weight: 400;
    line-height: 0.9;
    text-transform: uppercase;
    text-align: center;
    color: #c699b5;
    font-family: $fontBebasNeue;
    max-width: 644px;
    @include fluid(font-size, 65px, 28px, 320px, 1280px);
    @include fluid(margin-bottom, 13px, 5px, 320px, 1280px);
  }

  &__desc {
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    color: #c699b5;
    max-width: 350px;

    @include fluid(font-size, 14px, 12px, 320px, 1280px);
    @include fluid(margin-bottom, 28px, 15px, 320px, 1280px);
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    --color: #fff;
    width: 100%;

    @include fluid(padding, 30px, 10px, 320px, 1280px);
    @include fluid(border-radius, 30px, 15px, 320px, 1280px);

    &.pink {
      background: linear-gradient(141deg, #ffadd4 0%, #ff6db3 51%, #d719a4 100%);
      --color: #fff;
      max-width: 404px;
    }
    &.white {
      background: #fff;
      --color: #c699b5;
      max-width: 270px;
    }
    &.black {
      background: #404040;
      --color: #fff;
      max-width: 270px;
    }
    &.gradient {
      background: linear-gradient(139deg, #fb64b2 0%, #9587ff 52.5%, #66e9d5 100%);
      --color: #fff;
      max-width: 548px;
    }
    &.black-2 {
      max-width: 404px;
    }

    @media (max-width: 580px) {
      &,
      &.pink,
      &.white,
      &.black,
      &.gradient {
        max-width: 100%;
      }
    }

    &-title {
      font-weight: 400;
      line-height: 0.9;
      text-transform: uppercase;
      color: var(--color);
      font-family: $fontBebasNeue;

      @include fluid(font-size, 35px, 25px, 320px, 1280px);
      @include fluid(margin-bottom, 15px, 8px, 320px, 1280px);
    }
    &-text {
      font-weight: 500;
      line-height: 1.2;
      color: var(--color);

      @include fluid(font-size, 14px, 12px, 320px, 1280px);
    }
  }
}
