.rules {
    background: url("../img/rules/bg.jpg") 0 0 / cover no-repeat;


    &__body {
        @include fluid(padding-top, 31px, 15px, 320px, 1280px);
        @include fluid(padding-bottom, 43px, 20px, 320px, 1280px);
    }

    &__title {
        @include fluid(font-size, 86px, 30px, 320px, 1280px);
        @include fluid(line-height, 107px, 35px, 320px, 1280px);
        @include fluid(margin-bottom, 26px, 15px, 320px, 1280px);

        span {
            &.o {
                transform: rotate(-4deg);
            }

            &.u {
                transform: rotate(3deg);
            }

            &.r {
                transform: rotate(-4deg);
            }

            &.r,
            &.u,
            &.l,
            &.e {
                transform: rotate(-3deg);
            }

            &.s {
                transform: rotate(3deg);
            }
        }
    }

    &__spollers {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 8px;
    }

    &__rule {
        background: #fff;
        @include fluid(border-radius, 37px, 20px, 320px, 1280px);
        @include fluid(padding, 15px, 8px, 320px, 1280px);

        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            &._active {
                & .rules__rule-arrow svg {
                    transform: scaleY(-1);
                }
            }

        }

        &-left {
            display: flex;
            align-items: center;

            @include fluid(gap, 25px, 10px, 320px, 1280px);
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: linear-gradient(146deg, #fda5cf 0%, #fa8aff 54%, #c982f9 100%);


            @include fluid(max-width, 47px, 30px, 320px, 1280px);
            @include fluid(max-height, 47px, 30px, 320px, 1280px);

            @include fluid(min-width, 47px, 30px, 320px, 1280px);
            @include fluid(min-height, 47px, 30px, 320px, 1280px);

            img {
                @include fluid(width, 30px, 20px, 320px, 1280px);

            }
        }

        &-title {
            font-weight: 400;
            font-size: 35px;
            line-height: 90%;
            text-transform: uppercase;
            color: #c699b5;
            font-family: $fontBebasNeue;
            transition: all 0.3s ease 0s;

            @include fluid(font-size, 35px, 20px, 320px, 1280px);
        }

        &-arrow {
            border-radius: 100%;
            background-color: #f2f1f7;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fc0083;

            svg {
                transition: all 0.3s ease 0s;

                @include fluid(width, 12px, 8px, 320px, 1280px);
                @include fluid(height, 19px, 13px, 320px, 1280px);

            }

            @include fluid(max-width, 47px, 25px, 320px, 1280px);
            @include fluid(max-height, 47px, 25px, 320px, 1280px);

            @include fluid(min-width, 47px, 25px, 320px, 1280px);
            @include fluid(min-height, 47px, 25px, 320px, 1280px);

        }

        &-content {
            padding-top: 10px;
        }

        &-text {
            font-weight: 300;
            line-height: 120%;
            color: #c699b5;

            @include fluid(font-size, 14px, 12px, 320px, 1280px);
        }

        @media (any-hover:hover) {
            &:hover {
                & .rules__rule-title {
                    color: #fc0083;
                }
            }
        }



    }

    &__banner {
        border-radius: 30px;
        background: linear-gradient(141deg, #ffadd4 0%, #ff6db3 51%, #d719a4 100%);
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        @include fluid(padding, 30px, 15px, 320px, 1280px);
        @include fluid(border-radius, 30px, 15px, 320px, 1280px);

        @media (max-width:680px) {
            flex-direction: column-reverse;
            align-items: center;
        }

        &-info {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 448px;

            @include fluid(gap, 15px, 8px, 320px, 1280px);

            @media (max-width:680px) {
                max-width: 100%;
            }
        }

        &-title {
            font-family: $fontBebasNeue;
            font-weight: 400;
            line-height: 90%;
            text-transform: uppercase;
            color: #fff;

            @include fluid(font-size, 35px, 24px, 320px, 1280px);
        }

        &-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            color: #fff;
        }

        &-img {
            width: 100%;
            max-width: 437px;

            @include fluid(margin-bottom, -41px, -26px, 320px, 1280px);

            @media (max-width:680px) {
                margin-bottom: 15px;
            }

            img {
                width: 100%;
            }
        }
    }
}