<div class="about" id="about">
  <div class="about__wrapper">
    <div class="about__container _container">
      <div class="about__body">
        <h2 hidden>About us</h2>
        <div class="about__title title">
          <div class="word">
            <span>a</span>
            <span>b</span>
            <span>o</span>
            <span>u</span>
            <span>t</span>
          </div>

          <div class="word">
            <span>t</span>
            <span>h</span>
            <span>e</span>
          </div>

          <div class="word">
            <span>e</span>
            <span>v</span>
            <span>e</span>
            <span>n</span>
            <span>t</span>
          </div>

        </div>

        <div class="about__blocks">
          <div class="about__block">
            <div class="about__block-img">
              <img src="./img/about/woman.jpg" alt="">
            </div>

            <div class="about__block-info">
              <p class="about__block-text">
                We believe hot, uninhibited fun should be easy and accessible. Society puts limits on desire, but we
                don’t. Our world is for open-minded men and women who crave wild, no-limits pleasure.
              </p>

              <p class="about__block-text">
                No small talk, no buying drinks, no hours of effort—just pure, real fun with like-minded people who know
                exactly what they want. Only the most eager, sex-loving guests are invited.
              </p>

              <p class="about__block-text">
                If you’re looking for the best adult nightlife experience, you’ve found it!
              </p>



              <div class="about__block-mask">
                <img src="./img/about/mask.png" alt="Mask">
              </div>
            </div>
          </div>

          <div class="about__block right">
            <div class="about__block-info">
              <h3 class="about__block-title">Who Should Join?
              </h3>

              <ul class="about__block-list">
                <li>18+ Only – All participants must be at least 18 years old.</li>
                <li>Respectful & Open-Minded – Follow event rules, respect boundaries, and enjoy a judgment-free space.
                </li>
                <li>Safety-Conscious – Protection is provided, but feel free to bring your own for worry-free fun.</li>
                <li>Confident & Honest – Clearly communicate your limits, and don’t hesitate to say “no.”</li>
              </ul>

              <div class="about__block-mask">
                <img src="./img/about/mask.png" alt="Mask">
              </div>
            </div>
            <div class="about__block-img">
              <img src="./img/about/woman.jpg" alt="">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>