<div class="about">
  <div class="about__wrapper">
    <div class="about__container _container">
      <div class="about__body">
        <h2 hidden>About us</h2>
        <div class="about__title title">
          <div class="part word">
            <span class="a">a</span>
            <span class="b">b</span>
            <span class="o">o</span>
            <span class="u">u</span>
            <span class="t">t</span>
          </div>

          <div class="part word">
            <span class="u">u</span>
            <span class="s">s</span>
          </div>

        </div>

        <div class="about__blocks">
          <div class="about__block">
            <div class="about__block-img">
              <img src="./img/about/woman.jpg" alt="">
            </div>

            <div class="about__block-info">
              <h3 class="about__block-title">Welcome to sl
                <span class="pencil"><img src="./img/about/pencil.png" alt=""></span>
                tBangerzzz
              </h3>

              <p class="about__block-text">
                where boundaries dissolve, desires are celebrated, and uninhibited fun takes center stage. Our journey
                began as enthusiastic attendees of s*x-positive events worldwide, from underground techno scenes to
                fetish
                and kinky gatherings.
              </p>

              <div class="about__block-mask">
                <img src="./img/about/mask.png" alt="Mask">
              </div>
            </div>
          </div>

          <div class="about__block right">
            <div class="about__block-info">
              <p class="about__block-text">
                After years of exploring these communities, we discovered our passion for organizing gangb*ngs and
                or6ies,
                combining our love for connecting like-minded, no-limits individuals with our experience in event
                planning. sl*tBangerzzz is a place to unleash your passions, meet others who crave the same, and
                celebrate
                the pure thrill of being alive. Perversion and vulgarity at its finest!
              </p>

              <div class="about__block-mask">
                <img src="./img/about/mask.png" alt="Mask">
              </div>
            </div>
            <div class="about__block-img">
              <img src="./img/about/woman.jpg" alt="">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>