<div class="goal" id="goal">
  <div class="goal__wrapper">
    <div class="goal__container _container">
      <div class="goal__body">
        <div class="goal__title title">
          <div class="word">
            <span>o</span>
            <span>u</span>
            <span>r</span>
          </div>
          <div class="word">
            <span>g</span>
            <span>o</span>
            <span>a</span>
            <span>l</span>
          </div>
        </div>

        <div class="goal__decor">
          <img src="./img/goal/decor.png" alt="decor">
        </div>

        <div class="goal__info">
          <h3 class="goal__info-title">At sl*tBangerzzz, our mission is simple:</h3>
          <p class="goal__info-text">
            to bring together as many enthusiastic men and women as possible and to create unforgettable,
            high-energy events filled with satisfaction. And yes, we have our own lofty target: 100 liters
            of pure, unfiltered MEN NECTAR collected per year. Join us in making it happen!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>