<header class="header">
  <div class="header__wrapper">
    <div class="header__container _container">
      <div class="header__body">

        <div class="header__nav">
          <nav class="header__menu">
            <button class="header__close">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m7 7l10 10M7 17L17 7" />
              </svg>
            </button>

            <a href="#" class="header__link active">Home</a>
            <a href="#" class="header__link">Agenda</a>
            <a href="#" class="header__link">Photos</a>
            <a href="#" class="header__link">About us</a>
            <a href="#" class="header__link">Our Vision</a>
            <a href="#" class="header__link">Our Values</a>
            <a href="#" class="header__link">Our rules</a>
            <a href="#" class="header__link">Info for girls</a>
          </nav>

          <button class="header__burger">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 6h18M3 12h18M3 18h18" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>