<div class="join">
  <div class="join__wrapper">
    <div class="join__container _container">
      <div class="join__body">
        <div class="join__banner">
          <div class="join__title title">
            <div class="part word">
              <span class="r">r</span>
              <span class="e">e</span>
              <span class="a">a</span>
              <span class="d">d</span>
              <span class="y">y</span>
            </div>
            <div class="part word">
              <span class="t">t</span>
              <span class="o">o</span>
            </div>

            <div class="part word">
              <span class="j">j</span>
              <span class="o-2">o</span>
              <span class="i">i</span>
              <span class="n">n</span>
            </div>
          </div>

          <p class="join__text">
            If you’re ready to dive into a world of fun, freedom, and endless possibilities, apply now to become a sl*t
            of the Night and be the star of the next sl*tBangerzzz event. Unleash your inner desires, meet a vibrant
            community, and experience the ultimate pleasure-filled night designed just for you.
          </p>

          <button class="join__button button">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>