<div class="join">
  <div class="join__wrapper">
    <div class="join__container _container">
      <div class="join__body">
        <h2 class="join__title">
          How to Join as a sl*t of the Night
        </h2>

        <div class="join__cards">
          <div class="join__card">
            <div class="join__card-img">
              <img src="./img/join/card-1.jpg" alt="Phone">
            </div>

            <h3 class="join__card-title">Apply Online</h3>

            <p class="join__card-text">Complete our online application to register as a sl*t of the Night. We’ll review
              your submission and get in touch with you to discuss the details.</p>
          </div>
          <div class="join__card">
            <div class="join__card-img">
              <img src="./img/join/card-2.jpg" alt="Phone">
            </div>

            <h3 class="join__card-title">Pre-Event Screening</h3>

            <p class="join__card-text">
              To ensure your comfort and that you’re a good fit for our community, we conduct a brief, friendly
              screening. This is a chance for us to get to know each other and to answer any questions you might have.
            </p>
          </div>
          <div class="join__card">
            <div class="join__card-img">
              <img src="./img/join/card-3.jpg" alt="Phone">
            </div>

            <h3 class="join__card-title">Contract</h3>

            <p class="join__card-text">This is not an official contract that we will show somewhere to the government,
              but the paper that will prove all our agreements starting from timing of your show time to the payment,
              transport arrangement etc. so we are on the same page all the time. </p>
          </div>
          <div class="join__card">
            <div class="join__card-img">
              <img src="./img/join/card-4.jpg" alt="Phone">
            </div>

            <h3 class="join__card-title">Come Ready to Enjoy</h3>

            <p class="join__card-text">When the night arrives, come with an open mind and ready to indulge in an
              unforgettable experience. Relax, enjoy, and feel celebrated as one of our sl*ts of the Night!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>