<div class="main" id="main">
  <div class="main__wrapper">
    <div class="main__container _container">
      <div class="main__body">
        <h1 hidden>Exclusive GANGBANG Party - Antwerp, March 21</h1>
        <div class="main__title title">
          <div class="word">
            <span>e</span>
            <span>x</span>
            <span>c</span>
            <span>l</span>
            <span>u</span>
            <span>s</span>
            <span>i</span>
            <span>v</span>
            <span>e</span>
          </div>

          <div class="word">
            <span>g</span>
            <span>a</span>
            <span>n</span>
            <span>g</span>
            <span>b</span>
            <span>a</span>
            <span>n</span>
            <span>g</span>
          </div>

          <div class="word">
            <span>P</span>
            <span>a</span>
            <span>r</span>
            <span>t</span>
            <span>y</span>
          </div>

          <div class="word">
            <span>-</span>
          </div>

          <div class="word">
            <span>A</span>
            <span>n</span>
            <span>t</span>
            <span>w</span>
            <span>e</span>
            <span>r</span>
            <span>p</span>
            <span>,</span>
          </div>

          <div class="word">
            <span>M</span>
            <span>a</span>
            <span>r</span>
            <span>c</span>
            <span>h</span>
          </div>

          <div class="word">
            <span>2</span>
            <span>1</span>
          </div>

        </div>

        <h2 class="main__subtitle">
          5+ SLUTS OF THE NIGHT AVAILABLE TO FUCK!
        </h2>

        <p class="main__text">
          Only 100 spots available – 80 tickets already sold! Don’t miss out on an unforgettable night in an exclusive
          venue.
        </p>

        <!-- <div class="main__cards" id="agenda">
          <div class="main__card pink">
            <div class="main__card-img">
              <img src="./img/main/woman.jpg" alt="Woman">
            </div>

            <h2 class="main__card-title">name of the event</h2>

            <p class="main__card-text">Join our regular events where desires are unfiltered, boundaries are left at the
              door, and everyone.
            </p>

            <button class="main__card-button button">
              Find out more

              <div class="main__card-condom">
                <img src="./img/main/condom-pink.png" alt="Condom">
              </div>
            </button>

          </div>

          <div class="main__card purple">
            <div class="main__card-img">
              <img src="./img/main/woman.jpg" alt="Woman">
            </div>

            <h2 class="main__card-title">name of the event</h2>

            <p class="main__card-text">Join our regular events where desires are unfiltered, boundaries are left at the
              door, and everyone.
            </p>

            <button class="main__card-button button">
              Find out more

              <div class="main__card-condom">
                <img src="./img/main/condom-purple.png" alt="Condom">
              </div>
            </button>

          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>