<div class="main" id="main">
  <div class="main__wrapper">
    <div class="main__container _container">
      <div class="main__body">
        <h1 hidden>Sltbangerzzz</h1>
        <div class="main__title title">
          <div class="word">
            <span>s</span>
            <span>l</span>
            <span class="pencil">
              <img src="./img/main/pencil.png" alt="Pencil">
            </span>
            <span>t</span>
            <span>b</span>
            <span>a</span>
            <span>n</span>
            <span>g</span>
            <span>e</span>
            <span>r</span>
            <span class="z">z</span>
            <span class="z-2">z</span>
            <span class="z-3">z</span>
          </div>


        </div>

        <p class="main__text">
          Join our regular events where desires are unfiltered, boundaries are left at the door, and everyone is free to
          indulge.
        </p>

        <div class="main__cards" id="agenda">
          <div class="main__card pink">
            <div class="main__card-img">
              <img src="./img/main/woman.jpg" alt="Woman">
            </div>

            <h2 class="main__card-title">name of the event</h2>

            <p class="main__card-text">Join our regular events where desires are unfiltered, boundaries are left at the
              door, and everyone.
            </p>

            <button class="main__card-button button">
              Find out more

              <div class="main__card-condom">
                <img src="./img/main/condom-pink.png" alt="Condom">
              </div>
            </button>

          </div>

          <div class="main__card purple">
            <div class="main__card-img">
              <img src="./img/main/woman.jpg" alt="Woman">
            </div>

            <h2 class="main__card-title">name of the event</h2>

            <p class="main__card-text">Join our regular events where desires are unfiltered, boundaries are left at the
              door, and everyone.
            </p>

            <button class="main__card-button button">
              Find out more

              <div class="main__card-condom">
                <img src="./img/main/condom-purple.png" alt="Condom">
              </div>
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>