<div class="main" id="main">
  <div class="main__wrapper">
    <div class="main__container _container">
      <div class="main__body">
        <h1 hidden>Sltbangerzzz</h1>
        <div class="main__title title no-standart">
          <div class="part part-1">
            <span class="s">s</span>
            <span class="l">l</span>
          </div>

          <div class="pencil">
            <img src="./img/main/pencil.png" alt="Pencil">
          </div>
          <div class="part part-2">
            <span class="t">t</span>
            <span class="b">b</span>
            <span class="a">a</span>
            <span class="n">n</span>
            <span class="g">g</span>
            <span class="e">e</span>
            <span class="r">r</span>
            <span class="z">z</span>
            <span class="z-2">z</span>
            <span class="z-3">z</span>
          </div>

        </div>

        <p class="main__text">
          Join our regular events where desires are unfiltered, boundaries are left at the door, and everyone is free to
          indulge.
        </p>

        <div class="main__cards" id="agenda">
          <div class="main__card pink">
            <div class="main__card-img">
              <img src="./img/main/woman.jpg" alt="Woman">
            </div>

            <h2 class="main__card-title">name of the event</h2>

            <p class="main__card-text">Join our regular events where desires are unfiltered, boundaries are left at the
              door, and everyone.
            </p>

            <button class="main__card-button">
              Find out more
            </button>

          </div>

          <div class="main__card purple">
            <div class="main__card-img">
              <img src="./img/main/woman.jpg" alt="Woman">
            </div>

            <h2 class="main__card-title">name of the event</h2>

            <p class="main__card-text">Join our regular events where desires are unfiltered, boundaries are left at the
              door, and everyone.
            </p>

            <button class="main__card-button">
              Find out more
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>