<div class="photos" id="photos">
  <div class="photos__wrapper photos__container _container">
    <div class="photos__body">
      <h2 class="photos__title title">
        <div class="word">
          <span>p</span>
          <span>h</span>
          <span>o</span>
          <span>t</span>
          <span>o</span>
          <span>s</span>
        </div>
      </h2>

      <div class="photos__gallery">
        <div class="photos__img">
          <img src="./img/photos/woman.jpg" alt="Woman">
        </div>
        <div class="photos__img">
          <img src="./img/photos/woman.jpg" alt="Woman">
        </div>
        <div class="photos__img">
          <img src="./img/photos/woman.jpg" alt="Woman">
        </div>
      </div>

      <button class="photos__button button">See all photos</button>
    </div>
  </div>
</div>