<div class="photos">
    <div class="photos__wrapper photos__container _container">
        <div class="photos__body">
            <div class="photos__title title">
                <div class="part word">
                    <span class="p">p</span>
                    <span class="h">h</span>
                    <span class="o">o</span>
                    <span class="t">t</span>
                    <span class="o-2">o</span>
                    <span class="s">s</span>
                </div>
            </div>

            <div class="photos__gallery">
                <div class="photos__img">
                    <img src="./img/photos/woman.jpg" alt="Woman">
                </div>
                <div class="photos__img">
                    <img src="./img/photos/woman.jpg" alt="Woman">
                </div>
                <div class="photos__img">
                    <img src="./img/photos/woman.jpg" alt="Woman">
                </div>
            </div>

            <button class="photos__button">See all photos</button>
        </div>
    </div>
</div>