<div class="register">
  <div class="register__wrapper">
    <div class="register__container _container">
      <div class="register__body">


        <div class="register__form">
          <h2 class="register__title">
            Reserve Your Spot Now
          </h2>

          <input placeholder="Name" type="text" class="register__field">
          <input placeholder="Email" type="email" class="register__field">
          <input placeholder="Phone/WhatsApp (Optional)" type="email" class="register__field">

          <button class="register__submit button">Register Now</button>
        </div>
      </div>
    </div>
  </div>
</div>