<div class="requirements" id="requirements">
  <div class="requirements__wrapper">
    <div class="requirements__container _container ">
      <div class="requirements__body">
        <h2 class="requirements__title">
          Requirements and Conditions for Participation
        </h2>
        <p class="requirements__desc">
          To maintain a balanced, respectful, and enjoyable atmosphere, we have a few requirements for all sl*ts of the
          Night:
        </p>

        <div class="requirements__cards">
          <div class="requirements__card pink">
            <h3 class="requirements__card-title">Be at Least 18 Years Old</h3>
            <p class="requirements__card-text">For legal and safety reasons, participants must be at least 18 to join.
              If you are under 23 years old or
              we are doubting your age, we will also check your ID before you enter the venue to make sure you are not
              underage. </p>
          </div>

          <div class="requirements__card white">
            <h3 class="requirements__card-title">Respect for Event Rules</h3>
            <p class="requirements__card-text">We expect all participants to follow our guidelines on safe s*x,
              cleanliness, and respect for the space and others. </p>
          </div>
          <div class="requirements__card black">
            <h3 class="requirements__card-title">Safety First</h3>
            <p class="requirements__card-text">We provide protection on-site, but feel free to bring your own. Safe s*x
              is a priority, and we want to ensure that everyone can enjoy themselves worry-free. </p>
          </div>

          <div class="requirements__card black black-2">
            <h3 class="requirements__card-title">Stay True to Your Boundaries</h3>
            <p class="requirements__card-text">Communicate your comfort levels clearly and don’t hesitate to say “no”
              whenever necessary. Our team is there to ensure that your boundaries are respected. </p>
          </div>

          <div class="requirements__card gradient">
            <h3 class="requirements__card-title">Payment can be discussed individually</h3>
            <p class="requirements__card-text">While we value your passion for s*x more than your passion for money, we
              are always happy to value your "hard work" with the compensation based on our 1to1 agreement in advance
              before the event.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>