<div class="rules" id="rules">
    <div class="rules__wrapper">
        <div class="rules__container _container">
            <div class="rules__body">
                <h2 class="rules__title title">
                    <div class="part word">
                        <span class="o">o</span>
                        <span class="u">u</span>
                        <span class="r">r</span>
                    </div>
                    <div class="part word">
                        <span class="r">r</span>
                        <span class="u">u</span>
                        <span class="l">l</span>
                        <span class="e">e</span>
                        <span class="s">s</span>
                    </div>
                </h2>

                <div class="rules__spollers" data-spollers data-one-spoller>
                    <div class="rules__rule">
                        <div class="rules__rule-head" data-spoller>
                            <div class="rules__rule-left">
                                <div class="rules__rule-icon">
                                    <img src="./img/rules/lips.svg" alt="Lips">
                                </div>

                                <h3 class="rules__rule-title">No Dress Code, No Crazy Attention To Music, No Program
                                </h3>
                            </div>

                            <div class="rules__rule-arrow">
                                <svg width="12" height="19" viewBox="0 0 12 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.7 1C6.7 0.613401 6.3866 0.3 6 0.3C5.6134 0.3 5.3 0.613401 5.3 1H6.7ZM5.50503 17.995C5.77839 18.2683 6.22161 18.2683 6.49497 17.995L10.9497 13.5402C11.2231 13.2668 11.2231 12.8236 10.9497 12.5503C10.6764 12.2769 10.2332 12.2769 9.9598 12.5503L6 16.5101L2.0402 12.5503C1.76684 12.2769 1.32362 12.2769 1.05025 12.5503C0.776886 12.8236 0.776886 13.2668 1.05025 13.5402L5.50503 17.995ZM5.3 1V17.5H6.7V1H5.3Z"
                                        fill="currentColor" />
                                </svg>
                            </div>
                        </div>

                        <div class="rules__rule-content">
                            <p class="rules__rule-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ex, est blanditiis
                                asperiores sequi ad perspiciatis aspernatur ullam eveniet deserunt itaque, natus
                                voluptate tenetur non dolore sed odio accusamus nesciunt?
                            </p>
                        </div>
                    </div>
                    <div class="rules__rule">
                        <div class="rules__rule-head" data-spoller>
                            <div class="rules__rule-left">
                                <div class="rules__rule-icon">
                                    <img src="./img/rules/lips.svg" alt="Lips">
                                </div>

                                <h3 class="rules__rule-title">Consent is Non-Negotiable
                                </h3>
                            </div>

                            <div class="rules__rule-arrow">
                                <svg width="12" height="19" viewBox="0 0 12 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.7 1C6.7 0.613401 6.3866 0.3 6 0.3C5.6134 0.3 5.3 0.613401 5.3 1H6.7ZM5.50503 17.995C5.77839 18.2683 6.22161 18.2683 6.49497 17.995L10.9497 13.5402C11.2231 13.2668 11.2231 12.8236 10.9497 12.5503C10.6764 12.2769 10.2332 12.2769 9.9598 12.5503L6 16.5101L2.0402 12.5503C1.76684 12.2769 1.32362 12.2769 1.05025 12.5503C0.776886 12.8236 0.776886 13.2668 1.05025 13.5402L5.50503 17.995ZM5.3 1V17.5H6.7V1H5.3Z"
                                        fill="currentColor" />
                                </svg>
                            </div>
                        </div>

                        <div class="rules__rule-content">
                            <p class="rules__rule-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ex, est blanditiis
                                asperiores sequi ad perspiciatis aspernatur ullam eveniet deserunt itaque, natus
                                voluptate tenetur non dolore sed odio accusamus nesciunt?
                            </p>
                        </div>
                    </div>
                    <div class="rules__rule">
                        <div class="rules__rule-head" data-spoller>
                            <div class="rules__rule-left">
                                <div class="rules__rule-icon">
                                    <img src="./img/rules/lips.svg" alt="Lips">
                                </div>

                                <h3 class="rules__rule-title">Cleanliness is Key
                                </h3>
                            </div>

                            <div class="rules__rule-arrow">
                                <svg width="12" height="19" viewBox="0 0 12 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.7 1C6.7 0.613401 6.3866 0.3 6 0.3C5.6134 0.3 5.3 0.613401 5.3 1H6.7ZM5.50503 17.995C5.77839 18.2683 6.22161 18.2683 6.49497 17.995L10.9497 13.5402C11.2231 13.2668 11.2231 12.8236 10.9497 12.5503C10.6764 12.2769 10.2332 12.2769 9.9598 12.5503L6 16.5101L2.0402 12.5503C1.76684 12.2769 1.32362 12.2769 1.05025 12.5503C0.776886 12.8236 0.776886 13.2668 1.05025 13.5402L5.50503 17.995ZM5.3 1V17.5H6.7V1H5.3Z"
                                        fill="currentColor" />
                                </svg>
                            </div>
                        </div>

                        <div class="rules__rule-content">
                            <p class="rules__rule-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ex, est blanditiis
                                asperiores sequi ad perspiciatis aspernatur ullam eveniet deserunt itaque, natus
                                voluptate tenetur non dolore sed odio accusamus nesciunt?
                            </p>
                        </div>
                    </div>
                    <div class="rules__rule">
                        <div class="rules__rule-head" data-spoller>
                            <div class="rules__rule-left">
                                <div class="rules__rule-icon">
                                    <img src="./img/rules/lips.svg" alt="Lips">
                                </div>

                                <h3 class="rules__rule-title">Zero Tolerance for Hate or Negativity
                                </h3>
                            </div>

                            <div class="rules__rule-arrow">
                                <svg width="12" height="19" viewBox="0 0 12 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.7 1C6.7 0.613401 6.3866 0.3 6 0.3C5.6134 0.3 5.3 0.613401 5.3 1H6.7ZM5.50503 17.995C5.77839 18.2683 6.22161 18.2683 6.49497 17.995L10.9497 13.5402C11.2231 13.2668 11.2231 12.8236 10.9497 12.5503C10.6764 12.2769 10.2332 12.2769 9.9598 12.5503L6 16.5101L2.0402 12.5503C1.76684 12.2769 1.32362 12.2769 1.05025 12.5503C0.776886 12.8236 0.776886 13.2668 1.05025 13.5402L5.50503 17.995ZM5.3 1V17.5H6.7V1H5.3Z"
                                        fill="currentColor" />
                                </svg>
                            </div>
                        </div>

                        <div class="rules__rule-content">
                            <p class="rules__rule-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ex, est blanditiis
                                asperiores sequi ad perspiciatis aspernatur ullam eveniet deserunt itaque, natus
                                voluptate tenetur non dolore sed odio accusamus nesciunt?
                            </p>
                        </div>
                    </div>
                    <div class="rules__rule">
                        <div class="rules__rule-head" data-spoller>
                            <div class="rules__rule-left">
                                <div class="rules__rule-icon">
                                    <img src="./img/rules/lips.svg" alt="Lips">
                                </div>

                                <h3 class="rules__rule-title">Respect Personal Hygiene
                                </h3>
                            </div>

                            <div class="rules__rule-arrow">
                                <svg width="12" height="19" viewBox="0 0 12 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.7 1C6.7 0.613401 6.3866 0.3 6 0.3C5.6134 0.3 5.3 0.613401 5.3 1H6.7ZM5.50503 17.995C5.77839 18.2683 6.22161 18.2683 6.49497 17.995L10.9497 13.5402C11.2231 13.2668 11.2231 12.8236 10.9497 12.5503C10.6764 12.2769 10.2332 12.2769 9.9598 12.5503L6 16.5101L2.0402 12.5503C1.76684 12.2769 1.32362 12.2769 1.05025 12.5503C0.776886 12.8236 0.776886 13.2668 1.05025 13.5402L5.50503 17.995ZM5.3 1V17.5H6.7V1H5.3Z"
                                        fill="currentColor" />
                                </svg>
                            </div>
                        </div>

                        <div class="rules__rule-content">
                            <p class="rules__rule-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ex, est blanditiis
                                asperiores sequi ad perspiciatis aspernatur ullam eveniet deserunt itaque, natus
                                voluptate tenetur non dolore sed odio accusamus nesciunt?
                            </p>
                        </div>
                    </div>
                    <div class="rules__rule">
                        <div class="rules__rule-head" data-spoller>
                            <div class="rules__rule-left">
                                <div class="rules__rule-icon">
                                    <img src="./img/rules/lips.svg" alt="Lips">
                                </div>

                                <h3 class="rules__rule-title">STD free space
                                </h3>
                            </div>

                            <div class="rules__rule-arrow">
                                <svg width="12" height="19" viewBox="0 0 12 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.7 1C6.7 0.613401 6.3866 0.3 6 0.3C5.6134 0.3 5.3 0.613401 5.3 1H6.7ZM5.50503 17.995C5.77839 18.2683 6.22161 18.2683 6.49497 17.995L10.9497 13.5402C11.2231 13.2668 11.2231 12.8236 10.9497 12.5503C10.6764 12.2769 10.2332 12.2769 9.9598 12.5503L6 16.5101L2.0402 12.5503C1.76684 12.2769 1.32362 12.2769 1.05025 12.5503C0.776886 12.8236 0.776886 13.2668 1.05025 13.5402L5.50503 17.995ZM5.3 1V17.5H6.7V1H5.3Z"
                                        fill="currentColor" />
                                </svg>
                            </div>
                        </div>

                        <div class="rules__rule-content">
                            <p class="rules__rule-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ex, est blanditiis
                                asperiores sequi ad perspiciatis aspernatur ullam eveniet deserunt itaque, natus
                                voluptate tenetur non dolore sed odio accusamus nesciunt?
                            </p>
                        </div>
                    </div>
                    <div class="rules__rule">
                        <div class="rules__rule-head" data-spoller>
                            <div class="rules__rule-left">
                                <div class="rules__rule-icon">
                                    <img src="./img/rules/lips.svg" alt="Lips">
                                </div>

                                <h3 class="rules__rule-title">Alcohol and Substance Policy
                                </h3>
                            </div>

                            <div class="rules__rule-arrow">
                                <svg width="12" height="19" viewBox="0 0 12 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.7 1C6.7 0.613401 6.3866 0.3 6 0.3C5.6134 0.3 5.3 0.613401 5.3 1H6.7ZM5.50503 17.995C5.77839 18.2683 6.22161 18.2683 6.49497 17.995L10.9497 13.5402C11.2231 13.2668 11.2231 12.8236 10.9497 12.5503C10.6764 12.2769 10.2332 12.2769 9.9598 12.5503L6 16.5101L2.0402 12.5503C1.76684 12.2769 1.32362 12.2769 1.05025 12.5503C0.776886 12.8236 0.776886 13.2668 1.05025 13.5402L5.50503 17.995ZM5.3 1V17.5H6.7V1H5.3Z"
                                        fill="currentColor" />
                                </svg>
                            </div>
                        </div>

                        <div class="rules__rule-content">
                            <p class="rules__rule-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ex, est blanditiis
                                asperiores sequi ad perspiciatis aspernatur ullam eveniet deserunt itaque, natus
                                voluptate tenetur non dolore sed odio accusamus nesciunt?
                            </p>
                        </div>
                    </div>
                    <div class="rules__rule">
                        <div class="rules__rule-head" data-spoller>
                            <div class="rules__rule-left">
                                <div class="rules__rule-icon">
                                    <img src="./img/rules/lips.svg" alt="Lips">
                                </div>

                                <h3 class="rules__rule-title">Confidentiality and Discretion
                                </h3>
                            </div>

                            <div class="rules__rule-arrow">
                                <svg width="12" height="19" viewBox="0 0 12 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.7 1C6.7 0.613401 6.3866 0.3 6 0.3C5.6134 0.3 5.3 0.613401 5.3 1H6.7ZM5.50503 17.995C5.77839 18.2683 6.22161 18.2683 6.49497 17.995L10.9497 13.5402C11.2231 13.2668 11.2231 12.8236 10.9497 12.5503C10.6764 12.2769 10.2332 12.2769 9.9598 12.5503L6 16.5101L2.0402 12.5503C1.76684 12.2769 1.32362 12.2769 1.05025 12.5503C0.776886 12.8236 0.776886 13.2668 1.05025 13.5402L5.50503 17.995ZM5.3 1V17.5H6.7V1H5.3Z"
                                        fill="currentColor" />
                                </svg>
                            </div>
                        </div>

                        <div class="rules__rule-content">
                            <p class="rules__rule-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ex, est blanditiis
                                asperiores sequi ad perspiciatis aspernatur ullam eveniet deserunt itaque, natus
                                voluptate tenetur non dolore sed odio accusamus nesciunt?
                            </p>
                        </div>
                    </div>
                    <div class="rules__rule">
                        <div class="rules__rule-head" data-spoller>
                            <div class="rules__rule-left">
                                <div class="rules__rule-icon">
                                    <img src="./img/rules/lips.svg" alt="Lips">
                                </div>

                                <h3 class="rules__rule-title">Care for Each Other
                                </h3>
                            </div>

                            <div class="rules__rule-arrow">
                                <svg width="12" height="19" viewBox="0 0 12 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.7 1C6.7 0.613401 6.3866 0.3 6 0.3C5.6134 0.3 5.3 0.613401 5.3 1H6.7ZM5.50503 17.995C5.77839 18.2683 6.22161 18.2683 6.49497 17.995L10.9497 13.5402C11.2231 13.2668 11.2231 12.8236 10.9497 12.5503C10.6764 12.2769 10.2332 12.2769 9.9598 12.5503L6 16.5101L2.0402 12.5503C1.76684 12.2769 1.32362 12.2769 1.05025 12.5503C0.776886 12.8236 0.776886 13.2668 1.05025 13.5402L5.50503 17.995ZM5.3 1V17.5H6.7V1H5.3Z"
                                        fill="currentColor" />
                                </svg>
                            </div>
                        </div>

                        <div class="rules__rule-content">
                            <p class="rules__rule-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ex, est blanditiis
                                asperiores sequi ad perspiciatis aspernatur ullam eveniet deserunt itaque, natus
                                voluptate tenetur non dolore sed odio accusamus nesciunt?
                            </p>
                        </div>
                    </div>
                </div>

                <div class="rules__banner">
                    <div class="rules__banner-info">
                        <h3 class="rules__banner-title">
                            Failure to follow these rules will result in immediate removal
                            and potential future bans.
                        </h3>
                        <p class="rules__banner-text">
                            Our goal is to create an environment where everyone can celebrate pleasure in a safe,
                            respectful, and positive atmosphere. We’re excited to welcome you to the sl*tBangerzzz
                            community – let's make every event unforgettable!
                        </p>
                    </div>

                    <div class="rules__banner-img">
                        <img src="./img/rules/mask.png" alt="Mask">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>