<div class="values" id="values">
  <div class="values__wrapper">
    <div class="values__container _container">
      <div class="values__body">
        <h2 class="values__title title">
          <div class="part word">
            <span class="o">o</span>
            <span class="u">u</span>
            <span class="r">r</span>
          </div>
          <div class="part word">
            <span class="v">v</span>
            <span class="a">a</span>
            <span class="l">l</span>
            <span class="u">u</span>
            <span class="e">e</span>
            <span class="s">s</span>
          </div>
        </h2>

        <div class="values__cards swiper">
          <div class="swiper-wrapper">
            <div class="values__card swiper-slide">
              <div class="values__card-icon">
                <div class="values__card-img">
                  <img src="./img/values/lips-1.png" alt="lips">
                </div>
              </div>

              <h3 class="values__card-title">
                No Dress Code, No Crazy Attention To Music, No Program
              </h3>
              <p class="values__card-text">
                Just you and fellow men, women and couples and 3-5 hungry sl*ts that want to empty your
                b*alls here and now! Of course, there will be perfect space for this with all kinds of
                play
                equipment and the bar with music. But without a DJ!
              </p>
            </div>

            <div class="values__card swiper-slide">
              <div class="values__card-icon">
                <div class="values__card-img">
                  <img src="./img/values/lips-2.png" alt="lips">
                </div>
              </div>

              <h3 class="values__card-title">
                Respect To Our Sl*ts Above All
              </h3>
              <p class="values__card-text">
                Every event centers on respect, especially for women. We prioritize a safe and welcoming
                atmosphere where everyone feels valued and empowered. Take care of our sl*ts like queens
                so they want you more!
              </p>
            </div>

            <div class="values__card swiper-slide">
              <div class="values__card-icon">
                <div class="values__card-img">
                  <img src="./img/values/lips-3.png" alt="lips">
                </div>
              </div>

              <h3 class="values__card-title">
                Safe S*x First
              </h3>
              <p class="values__card-text">
                We encourage and expect safe practices, so everyone can feel comfortable and carefree.
                Bring your best, while keeping it safe. If you are not sure what are the limits of some
                girl, always ask first before doing something with her. 
              </p>
            </div>

            <div class="values__card swiper-slide">
              <div class="values__card-icon">
                <div class="values__card-img">
                  <img src="./img/values/lips-3.png" alt="lips">
                </div>
              </div>

              <h3 class="values__card-title">
                Men Surplus Events
              </h3>
              <p class="values__card-text">
                While our events cater primarily to men, couples and women are welcome under certain
                conditions. Check out our Rules page for more details.
              </p>
            </div>

            <div class="values__card swiper-slide">
              <div class="values__card-icon">
                <div class="values__card-img">
                  <img src="./img/values/lips-3.png" alt="lips">
                </div>
              </div>

              <h3 class="values__card-title">
                Men Surplus Events
              </h3>
              <p class="values__card-text">
                While our events cater primarily to men, couples and women are welcome under certain
                conditions. Check out our Rules page for more details.
              </p>
            </div>

            <div class="values__card swiper-slide">
              <div class="values__card-icon">
                <div class="values__card-img">
                  <img src="./img/values/lips-3.png" alt="lips">
                </div>
              </div>

              <h3 class="values__card-title">
                Zero Tolerance for Hate
              </h3>
              <p class="values__card-text">
                sl*tBangerzzz is a place for openness and positivity. Racism, s*xism, xenophobia,
                homophobia, or any kind of prejudice is strictly prohibited. Leave your negativity at
                home!
              </p>
            </div>

            <div class="values__card swiper-slide">
              <div class="values__card-icon">
                <div class="values__card-img">
                  <img src="./img/values/lips-3.png" alt="lips">
                </div>
              </div>

              <h3 class="values__card-title">
                Respect the Space And Leave it Clean
              </h3>
              <p class="values__card-text">
                Treat our spaces with the care they deserve. Keep them clean, dispose of used items
                responsibly, and ensure the comfort of everyone involved. Remember to honor the people
                you connect with, treating them with the appreciation they deserve. No c*ndoms on the
                floor, clean after yourself.
              </p>
            </div>

            <div class="values__card swiper-slide">
              <div class="values__card-icon">
                <div class="values__card-img">
                  <img src="./img/values/lips-3.png" alt="lips">
                </div>
              </div>

              <h3 class="values__card-title">
                Freedom and Openness
              </h3>
              <p class="values__card-text">
                We believe in radical acceptance. Our events are designed for those who are passionate
                about exploring new connections and fostering an environment where everyone feels free
                to be their true selves.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>