<div class="wanted">
  <div class="wanted__wrapper">
    <div class="wanted__container _container">
      <div class="wanted__body">
        <div class="wanted__title title no-standart">
          <div class="word">
            <span class="s">s</span>
            <span class="l">l</span>
            <span class="pencil">
              <img src="./img/wanted/pencil.png" alt="Pencil">
            </span>
            <span class="t">t</span>
            <span class="s">s</span>
          </div>

          <div class="word">
            <span class="w">w</span>
            <span class="a">a</span>
            <span class="n">n</span>
            <span class="t-2">t</span>
            <span class="e">e</span>
            <span class="d">d</span>
          </div>

        </div>

        <p class="wanted__text">
          Are you a girl with a passion for s*x? Do you like being surrounded by men and hard d*cks, filled
          with men's nectar? Are you a c*ckold couple and your man wants to see you being banged by a group of
          dudes? You are in the right place, do not look further! We are here to organize your adventure…
        </p>

        <button class="wanted__button button">
          Find out more
        </button>
      </div>
    </div>
  </div>
</div>