<div class="why-join">
    <div class="why-join__wrapper">
        <div class="why-join__container _container">
            <div class="why-join__body">
                <div class="why-join__tabs">
                    <button class="why-join__tab _active" data-tab-name="cards1">
                        Why Join as a sl*t <span class="undreline">of the</span> Night?
                    </button>
                    <button class="why-join__tab" data-tab-name="cards2">
                        What to Expect as a sl*t <span class="undreline">of the</span> Night </button>
                </div>

                <div class="why-join__cards cards1 _active">
                    <div class="why-join__card">
                        <div class="why-join__card-img">
                            <img src="./img/why-join/lips.png" alt="Lips">
                        </div>

                        <h3 class="why-join__card-title">Total Freedom</h3>
                        <p class="why-join__card-text">
                            sl*tBangerzzz is a place where you can break free from societal expectations and be yourself
                            fully and unapologetically. Every event is crafted to provide an open, pressure-free
                            environment where you’re encouraged to explore whatever feels right for you.
                        </p>
                    </div>
                    <div class="why-join__card">
                        <div class="why-join__card-img">
                            <img src="./img/why-join/lips.png" alt="Lips">
                        </div>

                        <h3 class="why-join__card-title">A Community of Like-Minded People</h3>
                        <p class="why-join__card-text">
                            Join a supportive, s*x-positive community that respects and appreciates every participant.
                            Connect with people who share your interests and who understand the thrill of uninhibited
                            exploration.
                        </p>
                    </div>
                    <div class="why-join__card">
                        <div class="why-join__card-img">
                            <img src="./img/why-join/lips.png" alt="Lips">
                        </div>

                        <h3 class="why-join__card-title">Be Celebrated and Empowered</h3>
                        <p class="why-join__card-text">
                            Our events put you in the spotlight. As a sl*t of the Night, you’ll be respected, admired,
                            and treated with the utmost care. You set the pace, and the experience revolves around your
                            desires.
                        </p>
                    </div>
                    <div class="why-join__card">
                        <div class="why-join__card-img">
                            <img src="./img/why-join/lips.png" alt="Lips">
                        </div>

                        <h3 class="why-join__card-title">Safety and Respect</h3>
                        <p class="why-join__card-text">
                            Safety and respect are our priorities. We enforce strict guidelines on consent, hygiene, and
                            respectful behavior to make sure you feel comfortable and cared for at every step. Our team
                            is always on-site to ensure these standards are met. Check out for our rules if you are not
                            sure about this aspect.
                        </p>
                    </div>
                </div>

                <div class="why-join__cards cards2">
                    <div class="why-join__card">
                        <div class="why-join__card-img">
                            <img src="./img/why-join/lips.png" alt="Lips">
                        </div>

                        <h3 class="why-join__card-title">Total Freedom 2</h3>
                        <p class="why-join__card-text">
                            sl*tBangerzzz is a place where you can break free from societal expectations and be yourself
                            fully and unapologetically. Every event is crafted to provide an open, pressure-free
                            environment where you’re encouraged to explore whatever feels right for you.
                        </p>
                    </div>
                    <div class="why-join__card">
                        <div class="why-join__card-img">
                            <img src="./img/why-join/lips.png" alt="Lips">
                        </div>

                        <h3 class="why-join__card-title">A Community of Like-Minded People 2</h3>
                        <p class="why-join__card-text">
                            Join a supportive, s*x-positive community that respects and appreciates every participant.
                            Connect with people who share your interests and who understand the thrill of uninhibited
                            exploration.
                        </p>
                    </div>
                    <div class="why-join__card">
                        <div class="why-join__card-img">
                            <img src="./img/why-join/lips.png" alt="Lips">
                        </div>

                        <h3 class="why-join__card-title">Be Celebrated and Empowered 2</h3>
                        <p class="why-join__card-text">
                            Our events put you in the spotlight. As a sl*t of the Night, you’ll be respected, admired,
                            and treated with the utmost care. You set the pace, and the experience revolves around your
                            desires.
                        </p>
                    </div>
                    <div class="why-join__card">
                        <div class="why-join__card-img">
                            <img src="./img/why-join/lips.png" alt="Lips">
                        </div>

                        <h3 class="why-join__card-title">Safety and Respect 2</h3>
                        <p class="why-join__card-text">
                            Safety and respect are our priorities. We enforce strict guidelines on consent, hygiene, and
                            respectful behavior to make sure you feel comfortable and cared for at every step. Our team
                            is always on-site to ensure these standards are met. Check out for our rules if you are not
                            sure about this aspect.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>