//< " FILE WITH RESET STYLES " >=============================================================================================================>//
@import "./modules/_nullstyle";

//< " CONNECTING THE FILE WITH FONTS " >=====================================================================================================>//
@import "./modules/_fonts";

//< " CONNECTING THE FILE WITH ICONS " >=====================================================================================================>//
// @import "./modules/_iconfonts";

//< " MIXINS " >=============================================================================================================>//
@import "./modules/_mixins";

//< " FILE WITH VARIABLES " >=============================================================================================================>//
@import "./modules/_vars";

//< " body SITE " >=============================================================================================================>//
body {
  background-color: $colorBg;
  font-family: $fontPoppins;
  color: $colorDark;
  font-size: 14px;

  // ._lock-scroll
  &._lock-scroll {
    overflow: hidden;
  }
}

//< " Wrapper " >=============================================================================================================>//
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

//< " GRID " >=============================================================================================================>//

// .content
.content {
  flex: 1 1 auto;
}

// ._container
._container {
  padding: 0px #{calc($containerPadding / 2) + px};
  margin: 0px auto;
  max-width: $maxWidthContainer + px;
}

//< " FILES COMPONENTS " >=============================================================================================================>//
@import "./components/_header";
@import "./components/_footer";
@import "./components/_main";
@import "./components/_about";
@import "./components/_values";
@import "./components/_goal";
@import "./components/_rules";
// @import "./components/_preloader";

//< " MAIN BLOCK " >=============================================================================================================>//
.page {
  flex: 1 1 auto;
}

.title {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  justify-content: center;
  font-family: $fontBabyGemoy;
  text-align: center;
  color: #fda5cf;
  -webkit-text-fill-color: #fda5cf;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff63ad;
  text-shadow:
    5px 5px 0 #ff2f92,
    11px 11px 0 #fff;
  letter-spacing: 10px;
  transform: translateX(3%);
  gap: 16px;

  // @include fluid(letter-spacing, 10px, 20px, 320px, 1280px);

  // color: transparent;
  // text-shadow:
  //   1px 1px 0px #fda5cf,
  //   5px 5px 0 #ff2f92,
  //   0px 0px 0px #fff;

  &.no-standart {
    gap: 0;
  }

  & .word {
    & span:not(:first-child) {
      @include fluid(margin-left, -25px, -15px, 320px, 1280px);
    }
  }

  & .part {
    display: flex;
  }

  & .part-1 {
    & span:not(:first-child) {
      @include fluid(margin-left, -25px, -15px, 320px, 1280px);
    }
  }

  & .part-2 {
    @include fluid(margin-left, -45px, -15px, 680px, 1280px);
    z-index: 2;

    @media (max-width: 680px) {
      @include fluid(margin-left, -30px, -20px, 320px, 680px);
    }

    & span:not(:first-child) {
      @include fluid(margin-left, -30px, -15px, 320px, 1280px);
    }
  }

  & span {
    display: inline-block;
  }
}