//< " FILE WITH RESET STYLES " >=============================================================================================================>//
@import "./modules/_nullstyle";

//< " CONNECTING THE FILE WITH FONTS " >=====================================================================================================>//
@import "./modules/_fonts";

//< " CONNECTING THE FILE WITH ICONS " >=====================================================================================================>//
// @import "./modules/_iconfonts";

//< " MIXINS " >=============================================================================================================>//
@import "./modules/_mixins";

//< " FILE WITH VARIABLES " >=============================================================================================================>//
@import "./modules/_vars";

//< " UTILS " >=============================================================================================================>//
@import "./modules/_utilities";

//< " body SITE " >=============================================================================================================>//
body {
  background-color: $colorBg;
  font-family: $fontPoppins;
  color: $colorDark;
  font-size: 14px;

  // ._lock-scroll
  &._lock-scroll {
    overflow: hidden;
  }
}

//< " Wrapper " >=============================================================================================================>//
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

//< " GRID " >=============================================================================================================>//

// .content
.content {
  flex: 1 1 auto;
}

// ._container
._container {
  padding: 0px #{calc($containerPadding / 2) + px};
  margin: 0px auto;
  max-width: $maxWidthContainer + px;
}

//< " FILES COMPONENTS " >=============================================================================================================>//
@import "./components/_header";
@import "./components/_main";
@import "./components/_about";
@import "./components/_photos";
@import "./components/_values";
@import "./components/_goal";
@import "./components/_rules";
@import "./components/_wanted";
@import "./components/_requirements";
@import "./components/_provide";
@import "./components/_how-join";
@import "./components/_join";
// @import "./components/_preloader";

//< " MAIN BLOCK " >=============================================================================================================>//
.page {
  flex: 1 1 auto;
}